@model ProjectSE.Models.Repair
@{
    ViewBag.Title = "UpdateStatus";
    Layout = "~/Views/Shared/View_Technician.cshtml";
    ViewBag.HideElement = true;

}
        
<html>
<head>
    <script>
        // ในส่วนนี้ให้ใส่โค้ด JavaScript ดังนี้
        document.addEventListener("DOMContentLoaded", function () {
            var status = '@Model.status'; // สมมติว่า Status เป็นสถานะปัจจุบัน

            // ฟังก์ชันเพื่อรับสีของสถานะ
            function GetStatusColor(status) {
                switch (status) {
                    case "รอดำเนินการ":
                        return "rgb(36, 255, 0, 0.7)";
                    case "รับเรื่อง":
                        return "rgb(36, 255, 0, 0.7)";
                    case "เดินทาง":
                        return "rgb(36, 255, 0, 0.7)";
                    case "ถึงแล้ว":
                        return "rgb(36, 255, 0, 0.7)";
                    case "สำเร็จ":
                        return "rgb(36, 255, 0, 0.7)";
                    case "ไม่สำเร็จ":
                        return "rgb(255, 0, 0, 0.7)";
                    case "ยกเลิกแล้ว":
                        return "rgb(255, 0, 0, 0.7)";
                    default:
                        return "#FFFFFF"; // สีขาว (default)
                }
            }

            var circle1 = document.querySelector('.circle1');
            var circle2 = document.querySelector('.circle2');
            var circle3 = document.querySelector('.circle3');
            var circle4 = document.querySelector('.circle4');
            var circle5 = document.querySelector('.circle5');

            if (status === "รับเรื่อง") {
                circle1.style.backgroundColor = GetStatusColor(status);
            } else if (status === "เดินทาง") {
                circle1.style.backgroundColor = GetStatusColor("รับเรื่อง");
                circle2.style.backgroundColor = GetStatusColor(status);
            } else if (status === "ถึงแล้ว") {
                circle1.style.backgroundColor = GetStatusColor("รับเรื่อง");
                circle2.style.backgroundColor = GetStatusColor("เดินทาง");
                circle3.style.backgroundColor = GetStatusColor(status);
            } else if (status === "สำเร็จ") {
                circle1.style.backgroundColor = GetStatusColor("รับเรื่อง");
                circle2.style.backgroundColor = GetStatusColor("เดินทาง");
                circle3.style.backgroundColor = GetStatusColor("ถึงแล้ว");
                circle4.style.backgroundColor = GetStatusColor(status);
            } else if (status === "ไม่สำเร็จ") {
                circle1.style.backgroundColor = GetStatusColor("ไม่สำเร็จ");
                circle2.style.backgroundColor = GetStatusColor("ไม่สำเร็จ");
                circle3.style.backgroundColor = GetStatusColor("ไม่สำเร็จ");
                circle4.style.backgroundColor = GetStatusColor("ไม่สำเร็จ");
                circle5.style.backgroundColor = GetStatusColor(status);
            }

            var updateButton = document.getElementById('updateButton');

            // กำหนดค่าในปุ่มตามสถานะถัดไป
            switch (status) {
                case "รอดำเนินการ":
                    updateButton.value = "รับเรื่อง";
                    break;
                case "รับเรื่อง":
                    updateButton.value = "เดินทาง";
                    break;
                case "เดินทาง":
                    updateButton.value = "ถึงแล้ว";
                    break;
                case "ถึงแล้ว":
                    updateButton.value = "สำเร็จ";
                    break;
                case "สำเร็จ":
                    updateButton.value = "ยกเลิก";
                    break;

                default:

                    break;
            }

            function toggleUIVisibility() {
                var unsubmit = document.querySelector('.Unsubmit');
                var more = document.querySelector('.des');
                var submit = document.querySelector('.submit');
                var lineUN = document.querySelector('#lineUn');
                var circleUN = document.querySelector('.UnComplete');
                var result = document.querySelector('.result');
                if (status === "ถึงแล้ว") {
                    unsubmit.style.display = 'flex';
                    more.style.display = 'flex';
                    submit.style.display = 'flex';
                    result.style.display = 'none';
                } else if (status === "สำเร็จ") {
                    submit.style.display = 'none';
                    unsubmit.style.display = 'none';
                    more.style.display = 'none';
                    lineUN.style.display = 'none';
                    circleUN.style.display = 'none';
                    result.style.display = 'flex';
                }
                else if (status === "ไม่สำเร็จ") {
                    submit.style.display = 'none';
                    unsubmit.style.display = 'none';
                    more.style.display = 'none';
                    result.style.display = 'flex';
                }


                else {
                    unsubmit.style.display = 'none';
                    more.style.display = 'none';
                    submit.style.display = 'flex';
                    result.style.display = 'none';
                }
            }

            // ในบรรทัดสุดท้ายของ script
            toggleUIVisibility();


            var unsubmitButton = document.getElementById('btn-Unsubmit');
    var submitButton = document.getElementById('updateButton');  // แก้ไขตรงนี้

        if (status === "ถึงแล้ว") {

            unsubmitButton.addEventListener('click', function () {
                updateStatus('ไม่สำเร็จ');
                
            });
            submitButton.addEventListener('click', function () {
                updateStatus('สำเร็จ');
                
            });
        }

    function updateStatus(status) {
    var url = '@Url.Action("UpdateStatus", "Technician")';
        var description = document.querySelector('input[name="description"]').value;
    var data = {
        id: '@Model.repair_Id',
        status: status,
        description: description,
        file: document.querySelector('input[name="file"]').files[0]
    };

    var formData = new FormData();
    formData.append("id", data.id);
    formData.append("status", data.status);
    formData.append("description", data.description);
    formData.append("file", data.file);

    fetch(url, {
        method: 'POST',
        body: formData
    })
    .then(response => response.json())
    .then(result => {
        console.log(result);
        // จะสามารถเพิ่มโค้ดที่ต้องการหลังจากการอัพเดตสถานะได้ที่นี่
    })
    .catch(error => {
        console.error('Error:', error);
    });
}
        });
        

    </script>


    <style>
        body {
            height: 100vh;
        }

        .status {
            height: auto;
            margin-top: 50px;
            display: grid;
            grid-template: 200px 200px;
            align-items: center;
            justify-content: center;
        }

        .circle1, .circle2, .circle3 , .circle4 , .circle5 {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid #000000;
        }

        .Receive {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 50px;
        }

            .Receive h2 {
                margin-left: 50px;
                color: #000000;
            }

        .travel {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 50px;
        }

            .travel h2 {
                margin-left: 50px;
                color: #000000;
            }

        .arrived {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 50px;
        }

            .arrived h2 {
                margin-left: 50px;
                color: #000000;
            }

        .Complete {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 50px;
        }

            .Complete h2 {
                margin-left: 50px;
                color: #000000;
            }

        .UnComplete {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 50px;
        }

            .UnComplete h2 {
                margin-left: 50px;
                color: #000000;
            }

        .status-topic h1 {
            display: flex;
            justify-content: center;
            margin-top: 100px;
            color: black;
        }

        .line {
            position: relative;
            left: 24px;
            height: 40px;
        }

        .btn-submit {
            display: flex;
            justify-content: center;
            background-color: #151D39;
            width: 150px;
            height: 50px;
            border: none;
            border-radius: 20px;
            font-size: 26px;
            color: white;
        }

        .btn-cancel {
            align-items: center;
            display: flex;
            justify-content: center;
            background-color: #68C4F5;
            width: 150px;
            height: 50px;
            border: none;
            border-radius: 20px;
            font-size: 26px;
            color: white;
        }

        .button {
            margin-top: 50px;
            display: flex;
            justify-content: space-evenly;
        }
        .btn-Unsubmit {
            display: flex;
            justify-content: center;
            align-items:center;
            background-color: #FF0000;
            width: 150px;
            height: 50px;
            border: none;
            border-radius: 20px;
            font-size: 26px;
            color: white;
        }

        .more-detail{
            display:flex;
            justify-content:center;
            margin:20px 0 20px 0;
        }
        .des {
            display: flex;
            flex-direction: column;
        }
        .text-des{
            height:60px;
            margin:10px 0 10px 0;
        }
        .img-des{
            border:1px solid #000000;
        }
        .result {
            display: flex;
           flex-direction:column;
          justify-content:center;
            margin: 20px 0 20px 0;
        }
       .title{
           display:flex;
           flex-direction:column;
           justify-content:center;
       }
        .result-d {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .result h3{
            display:flex;
            justify-content:center;
        }
        .result h5 {
            display: flex;
            justify-content: center;
        }
        .pic {
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>

    <div class="status-topic">
        <h1>อัพเดตสถานะ</h1>
    </div>
    <div class="status">
        <div class="Receive">
            <div class="circle1"></div><h2>รับเรื่องแล้ว</h2>
        </div>
        <img class="line" src="~/Content/Status/line.png" />
        <div class="travel">
            <div class="circle2"></div><h2>กำลังเดินทาง</h2>
        </div>
        <img class="line" src="~/Content/Status/line.png" />
        <div class="arrived">
            <div class="circle3"></div><h2>ถึงแล้ว</h2>
        </div>
        <img class="line" src="~/Content/Status/line.png" />
        <div class="Complete">
            <div class="circle4"></div><h2>สำเร็จ</h2>
        </div>
        <img class="line" src="~/Content/Status/line.png" id="lineUn" />
        <div class="UnComplete">
            <div class="circle5"></div><h2>ไม่สำเร็จ</h2>
        </div>



    </div>

    <div class="more-detail">
        <div class="des">
            <h3>คำอธิบายการซ่อม</h3>
            <input name="description" class="text-des" />
            <h3>รูปการซ่อม</h3>
            <input type="file" name="file" class="img-des" />


        </div>
    </div>

    <div class="result">
        @if (Model.desT == null && Model.desT_picture == null)
        {
            <div class="title"><h3>ผลการซ่อม</h3><h5>ไม่ได้ใส่รายละเอียด</h5></div>
            <div class="result-d">
                <h3>รูปผลการซ่อม</h3>
                <div class="pic">
                    <h5>ไม่ได้ใส่รูปภาพประกอบ</h5>
                </div>

            </div>
        }
        else if (Model.desT_picture == null)
        {
            <div class="title"><h3>ผลการซ่อม</h3><h5>@Html.DisplayFor(model => model.desT)</h5></div>


            <div class="result-d">
                <h3>รูปผลการซ่อม</h3>
                <div class="pic">
                    <h5>ไม่ได้ใส่รูปภาพประกอบ</h5>
                </div>

            </div>
        }
        else if (Model.desT == null)
        {
            <div class="title"><h3>ผลการซ่อม</h3><h5>ไม่ได้ใส่รายละเอียด</h5></div>


            <div class="result-d">
                <h3>รูปผลการซ่อม</h3>
                <div class="pic">
                    <img src=@Url.Content("~/Content/DesT-Pic/"+(Model.desT_picture)) style="width: 300px;height: auto;" />
                </div>

            </div>
        }
        else
        {
            <div class="title"><h3>ผลการซ่อม</h3><h5>@Html.DisplayFor(model => model.desT)</h5></div>
            <div class="result-d">
                <h3>รูปผลการซ่อม</h3>
                <div class="pic">
                    <img src=@Url.Content("~/Content/DesT-Pic/"+(Model.desT_picture)) style="width: 300px;height: auto;" />
                </div>
            </div>
        }




    </div>

    <div class="button">
        <div class="cancel">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn-cancel">
                    <span>@Html.ActionLink("ย้อนกลับ", "ListRepairTech", "Technician", new { style = "color: black; text-decoration: none;" })</span>
                </button>
            </div>
        </div>


        <div class="Unsubmit">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" value="ไม่สำเร็จ" class="btn-Unsubmit" id="btn-Unsubmit">ไม่สำเร็จ</button>
            </div>
        </div>




        @using (Html.BeginForm("UpdateStatus", "Technician", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div hidden>

                @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control" } })
                @Html.EditorFor(model => model.repair_Id, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="submit">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" id="updateButton" class="btn-submit" value="Submit" />
                </div>
            </div>

        }
    </div>


</body>
</html>
